__Input Data:__

We have a dataset of users presented as a cohort analysis. Each user subscribes to our mobile application at a monthly rate of $9.99.​

__Task__:

Estimate the projected LTV24 (Lifetime Value over 24 months), i.e. the total revenue generated by a user over a 24-month period. It's important to account for Apple's commission structure: they retain 30% of the subscription fee during the first year and 15% during the second year.​

---

In [1]:
import pandas as pd

---

In [2]:
subscription_price = 9.99  # Subscription cost, $
apple_fee_first_year = 0.30  # 30% – Apple's Commission for the 1st year
apple_fee_second_year = 0.15  # 15% – Apple's Commission for the 2nd year

In [3]:
cohort = pd.read_excel('results.xlsx', sheet_name=2, usecols='B:AA', nrows=23)
cohort.fillna(0, inplace=True)

In [4]:
cohort

,Date,Trial,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,Month 8,...,Month 15,Month 16,Month 17,Month 18,Month 19,Month 20,Month 21,Month 22,Month 23,Month 24
0,2017-04-01,1501,711,437.0,286.0,206.0,142.0,116.0,95.0,78.0,...,32.0,27.0,21.0,18.0,15.0,14.0,11.0,9.0,0.0,0.0
1,2017-05-01,1253,544,338.0,246.0,178.0,138.0,109.0,89.0,71.0,...,21.0,19.0,16.0,15.0,15.0,13.0,13.0,0.0,0.0,0.0
2,2017-06-01,1226,522,319.0,228.0,169.0,133.0,99.0,82.0,72.0,...,27.0,26.0,25.0,23.0,21.0,19.0,0.0,0.0,0.0,0.0
3,2017-07-01,1484,538,297.0,201.0,147.0,112.0,85.0,77.0,64.0,...,32.0,30.0,23.0,20.0,18.0,0.0,0.0,0.0,0.0,0.0
4,2017-08-01,2009,775,449.0,317.0,257.0,198.0,170.0,148.0,126.0,...,51.0,41.0,38.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2017-09-01,2132,940,580.0,384.0,289.0,225.0,177.0,146.0,125.0,...,44.0,39.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2017-10-01,1231,467,279.0,196.0,148.0,103.0,84.0,62.0,53.0,...,21.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2017-11-01,1035,392,194.0,128.0,118.0,80.0,65.0,65.0,48.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2017-12-01,511,241,127.0,94.0,87.0,57.0,51.0,47.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2018-01-01,2167,756,439.0,311.0,244.0,186.0,140.0,119.0,94.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2018-02-01,930,367,210.0,141.0,117.0,78.0,66.0,65.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2018-03-01,1140,478,249.0,168.0,155.0,91.0,86.0,71.0,55.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2018-04-01,961,413,190.0,144.0,130.0,80.0,70.0,64.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2018-05-01,1018,400,195.0,144.0,132.0,76.0,74.0,70.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2018-06-01,1009,336,178.0,116.0,107.0,66.0,59.0,58.0,36.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2018-07-01,5507,1607,898.0,631.0,485.0,367.0,298.0,251.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2018-08-01,15545,4001,2144.0,1445.0,1063.0,840.0,671.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2018-09-01,4504,1498,859.0,588.0,437.0,343.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2018-10-01,7335,1598,865.0,594.0,439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2018-11-01,6890,1806,931.0,611.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2018-12-01,1425,711,352.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2019-01-01,1793,626,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
initial_subscribers = cohort['Trial'].sum()

In [7]:
initial_subscribers

62606

In [8]:
# Calculation of the revenue for the first 12 months, factoring in Apple’s 30% commission.
revenue_first_year = sum(cohort[f'Month {i}'].sum() * subscription_price * (1 - apple_fee_first_year) for i in range(1, 13))

In [9]:
revenue_first_year

370167.46199999994

In [10]:
# Calculation of the revenue for the next 12 months, factoring in Apple’s 15% commission.
revenue_second_year = sum(cohort[f'Month {i}'].sum() * subscription_price * (1 - apple_fee_second_year) for i in range(13, 25))

In [11]:
revenue_second_year

13119.367500000002

In [12]:
ltv24 = (revenue_first_year + revenue_second_year) / initial_subscribers

In [13]:
ltv24

6.122206010606011

On average, each user generates approximately __$6.12__ in net revenue over 24 months of app usage after accounting for Apple’s commission fees.